body {
    background-color: #f5f5f5;
}

a {
    color: #87ceeb;
}

a:hover {
    color: #f5f5f5;
}

.bold {
    font-weight: bold;
}

.card {
    width: 100% !important;
    background-color: #343a40;
    color: #f5f5f5;
    font-weight: 500;
    font-size: 18px;
}

p.card-text {
    line-height: 1.5rem;
}

.contact {
    background: #e9ecef;
    padding: 15px;
    border: 1px solid #343a40;
    border-radius: 5px;
}

.container {
    margin-bottom: 2rem;
}

.main-content {
    margin-bottom: 15rem;
}

.font-40 {
    font-size: 40px;
    
}

.font-18 {
    font-size: 18px;
}

footer {
    background-color: #343a40;
    color: #e9ecef;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 5px solid #949494 !important;
}


.formInput {
    margin-top: 5px;
}

.indent {
    text-indent: 10px;
}

.jumbotron {
    background-color: #343a40;
    color: #e9ecef;
    border-top: 1px solid #e9ecef;


}

.jumbotron .jumbotron-fluid {
    margin: 0;
    background-color: #343a40;
   
}

.list-styled li, .text-uppercase {
    padding: 5px;
}

.line25 {
    line-height: 25px;
}

.marginAuto {
    margin: auto;
}

.marginBottom {
    margin-bottom: 2rem;
}

 .navbar-brand, .nav-link {
    color: #e9ecef !important;
}

.nav-link:hover, .nav-link:active, .navbar-brand:hover {
    background-color: darkslategray;
}

.padding-0 {
    padding: 0;
}

.padding-15 {
    padding: 15px;
}

.row .margin0 {
    margin-left: 0;
    margin-right: 0; 
}

.text-center {
    text-align: center;
}

.tile {
    background-color: #e9ecef;
    opacity: .99;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #343a40;
}

textarea#message, input#email, input#fname {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #343a40;
}

#pfp {
    max-width: 100%;
    border-radius: 5px;
}

#arrow {
    max-width: 20%; 
    float: left;
    margin: auto;
}

@media (max-width:991px) {
    .nav-item {
        border-bottom: 1px solid #708090;
        padding: 10px;
        width: 100%;
    }
    .navbar {
        padding: 0px;
    }
    .navbar-brand {
        padding: 10px;
    }
}

@media (max-width:576px) {
    .card {
        margin-bottom: 2rem;
    }


    .row {
        margin: 0 auto;
    }

    .paddingTop-xs {
        padding-top: 2rem;
        padding-left: 0px;
        padding-right: 0px;

    }

    .col-xs-2 {
        padding: 0px;
    }
}