body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/cork-board.png");
}

.bold {
    font-weight: bold;
}

.contact {
    background: #e9ecef;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.container {
    padding-bottom: 2rem;
}

.font-40 {
    font-size: 40px;
    
}

.font-18 {
    font-size: 18px;
}

.formInput {
    margin-top: 5px;
}

.indent {
    text-indent: 10px;
}

.jumbotron {
    background-color: #343a40;
    color: #e9ecef;
    border-top: 1px solid #e9ecef;
}

.jumbotron .jumbotron-fluid {
    margin: 0;
    background-color: #343a40;
   
}

.line25 {
    line-height: 25px;
}

.marginBottom {
    margin-bottom: 10px;
}

 .navbar-brand, .nav-link {
    color: #e9ecef !important;
}

.padding-0 {
    padding: 0;
}

.padding-15 {
    padding: 15px;
}

.row .margin0 {
    margin-left: 0;
    margin-right: 0; 
}

.text-center {
    text-align: center;
}

.tile {
    background-color: #e9ecef;
    opacity: .99;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

#pfp {
    max-width: 100%;
    border-radius: 5px;
}

#arrow {
    max-width: 20%; 
    float: left;
    margin: auto;
}

@media (max-width:991px) {
    .nav-item {
        border-bottom: 1px solid #708090;
        padding: 10px;
        width: 100%;
    }
    .navbar {
        padding: 0px;
    }
    .navbar-brand {
        padding: 10px;
    }
}

@media (max-width:576px) {
    .row {
        margin: 0 auto;
    }

    .paddingTop-xs {
        padding-top: 2rem;
        padding-left: 0px;
        padding-right: 0px;

    }

    .col-xs-2 {
        padding: 0px;
    }
}