body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/cork-board.png");
}
.jumbotron {
    background-color: #343a40;
    color: #e9ecef;
    border-top: 1px solid #e9ecef;
}
.jumbotron .jumbotron-fluid {
    margin: 0 auto;
    background-color: #343a40;
   
}

.contact {
    background: #e9ecef;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

 .navbar-brand, .nav-link {
    color: #e9ecef !important;
}

.row .margin0 {
    margin-left: 0;
    margin-right: 0; 
}
.bold {
    font-weight: bold;
}
.font-40 {
    font-size: 40px;
    
}
.line25 {
    line-height: 25px;
}

.font-18 {
    font-size: 18px;
}
.indent {
    text-indent: 10px;
}

.padding-0 {
    padding: 0;
}

.text-center {
    text-align: center;
}

.padding-15 {
    padding: 15px;
}

.marginBottom {
    margin-bottom: 10px;
}

.tile {
    background-color: #e9ecef;
    opacity: .99;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

#pfp {
    max-width: 100%;
    border-radius: 5px;
}

#arrow {
    max-width: 20%;
   
    float: left;
    margin: auto;
}

@media (max-width:991px) {
    #arrow {
    display: none;
}
}

@media (max-width:576px) {
    .row {
        margin: 0 auto;
    }
}